@import './assets/styles/variables.css';

.App {
  background-color: #D7BDA6; /* Oat Milk */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage-img-container {
  position: relative;
  /* display: inline-block; */
  display: block;
  width: 100%;
  margin-bottom: 4rem;
  overflow: hidden;
  z-index: 2;
}

.Navbar {
  position: relative;
  z-index: 90000;
}

.homepage-img-container img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 0;
}

.homepage-img-container::before{
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
  z-index: 0;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

#web-title {
  font-family: var(--primary-font-family);
  font-weight: 600;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.75rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.homepage-title {
  font-family: var(--primary-font-family);
  font-weight: 600;
  color: white;
  font-size: 2.75rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  margin-bottom: 1rem;
}


.homepage-text-separator {
  width: 6rem;
  height: 3px;
  background-color: white;
  margin: 1rem auto;
  border: none;
  opacity: 0.8;
}


/* .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;             
  align-items: center;
  justify-content: center;
  pointer-events: none;     
  z-index: 1;
} */

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
  text-align: center;
}


/* .overlay-content p {
  color: rgba(255, 255, 255, 0.718);
  margin-top: 6rem;
  max-width: 45vw;
  font-size: 1.7rem;
  padding: 0 10rem;
} */

.homepage-subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  max-width: 800px;
  padding: 0 2rem;
}


.CategoryCardsContainer {
  margin-top: -10rem;
  z-index: 10;
  position: relative;
}


body {
  overflow: hidden;
}

html, #root {
  height: 100%;
  background-color: #F3F4F6;
}

body, html {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .homepage-text-separator {
    width: 140px;
  }
}
