@import '../../assets/styles/variables.css';

.category-grid {
	margin-top: 2rem;
}
  
.category-card {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 36px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: var(--primary-font-family);

	background-color: var(--primary-color);
	color: var(--primary-text-color);
	width: 300px;
	height: 300px;
	margin: 5px;
	
	transition: transform 0.2s ease-in-out;
}
  
.category-card:hover {
	transform: scale(1.05);
	cursor: pointer;
 }
  